# Data Loading and some preperation for data manipulation

In [ ]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile('/Users/Cyrill/Desktop/vis/515k-hotel-reviews-data-in-europe.zip') 
df = pd.read_csv(zf.open('Hotel_Reviews.csv'))
df.shape

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [4]:
df.head(40)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6.7,"[' Leisure trip ', ' Group ', ' Duplex Double ...",10 days,52.360576,4.915968
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.360576,4.915968
7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",17 days,52.360576,4.915968
8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/9/2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,0,3,6.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",25 days,52.360576,4.915968
9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/8/2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,50,1,7.9,"[' Leisure trip ', ' Couple ', ' Large King Ro...",26 days,52.360576,4.915968
10,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/7/2017,7.7,Hotel Arena,United Kingdom,Nothing all great,5,1403,Rooms were stunningly decorated and really sp...,101,2,10.0,"[' Leisure trip ', ' Group ', ' Duplex Double ...",27 days,52.360576,4.915968
11,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/6/2017,7.7,Hotel Arena,France,6 30 AM started big noise workers loading woo...,75,1403,Style location rooms,4,12,5.8,"[' Business trip ', ' Solo traveler ', ' Duple...",28 days,52.360576,4.915968
12,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/6/2017,7.7,Hotel Arena,United Kingdom,The floor in my room was filfy dirty Very bas...,28,1403,Comfy bed good location,6,7,4.6,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",28 days,52.360576,4.915968
13,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/4/2017,7.7,Hotel Arena,Italy,No Negative,0,1403,This hotel is being renovated with great care...,59,6,9.2,"[' Business trip ', ' Solo traveler ', ' Duple...",30 days,52.360576,4.915968
14,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/4/2017,7.7,Hotel Arena,Canada,The staff in the restaurant could of been mor...,35,1403,It was very good very historic building that ...,15,1,8.8,"[' Leisure trip ', ' Family with young childre...",30 days,52.360576,4.915968
15,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/3/2017,7.7,Hotel Arena,Italy,No Negative,0,1403,This hotel is awesome I took it sincirely bec...,82,26,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",31 days,52.360576,4.915968
16,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/3/2017,7.7,Hotel Arena,United Kingdom,Very steep steps in room up to the bed not sa...,38,1403,Great onsite cafe Amazing building Park locat...,14,8,6.3,"[' Leisure trip ', ' Family with young childre...",31 days,52.360576,4.915968
17,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/30/2017,7.7,Hotel Arena,Ireland,We did not like the fact that breakfast was n...,59,1403,We loved the location of this hotel The fact ...,64,2,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",34 days,52.360576,4.915968
18,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/29/2017,7.7,Hotel Arena,Netherlands,No Negative,0,1403,Public areas are lovely and the room was nice...,33,4,7.1,"[' Business trip ', ' Group ', ' Duplex Double...",35 days,52.360576,4.915968
19,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/20/2017,7.7,Hotel Arena,Australia,We had issues with our electronic key everyda...,73,1403,I liked the hotels history And for such an en...,48,16,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",44 days,52.360576,4.915968
20,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/19/2017,7.7,Hotel Arena,United Kingdom,Bed was on upper level with a narrow twist st...,40,1403,Friendly staff OostPark a few yards away Good...,17,1,6.3,"[' Leisure trip ', ' Travelers with friends ',...",45 days,52.360576,4.915968
21,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/12/2017,7.7,Hotel Arena,France,Our room was an overrated disaster room 231 d...,92,1403,The breakfast was the only positive element o...,75,12,3.8,"[' Couple ', ' Duplex Double Room ', ' Stayed ...",52 days,52.360576,4.915968
22,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/10/2017,7.7,Hotel Arena,Germany,Sadly I cannot say that the rooms are clean e...,364,1403,The location is good You need 15min to 20min ...,37,21,5.4,"[' Leisure trip ', ' Family with young childre...",54 days,52.360576,4.915968
23,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/29/2017,7.7,Hotel Arena,Ireland,Transportation was a bit of a pain but on rou...,22,1403,Bed was extremely comfy and the staff where w...,51,1,9.6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",66 days,52.360576,4.915968
24,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/27/2017,7.7,Hotel Arena,United Kingdom,Nothing,3,1403,Lovely hotel with extremely comfortable huge ...,130,2,9.6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",68 days,52.360576,4.915968
25,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/25/2017,7.7,Hotel Arena,United States of America,The bathroom in our room was a black glass bo...,57,1403,Great location in the park near museums and r...,43,4,8.3,"[' Leisure trip ', ' Couple ', ' Duplex Double...",70 days,52.360576,4.915968
26,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/25/2017,7.7,Hotel Arena,United Kingdom,Nothing at all to do with the Hotel of course...,51,1403,The Hotel itself is in a lovely location a 5m...,134,2,9.6,"[' Leisure trip ', ' Group ', ' Duplex Double ...",70 days,52.360576,4.915968
27,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/22/2017,7.7,Hotel Arena,France,Careful they are still renovating the buildin...,31,1403,Great hotel original concept style,6,25,8.3,"[' Business trip ', ' Solo traveler ', ' Duple...",73 days,52.360576,4.915968
28,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/21/2017,7.7,Hotel Arena,United States of America,We had 2 different rooms here and both were d...,53,1403,The hotel itself is beautiful restaurant is v...,22,4,8.3,"[' Leisure trip ', ' Couple ', ' Duplex Double...",74 days,52.360576,4.915968
29,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/16/2017,7.7,Hotel Arena,Hungary,There is an ongoing construction enlarging th...,24,1403,The hotel is located in a beautiful old monas...,49,2,9.2,"[' Leisure trip ', ' Couple ', ' Duplex Double...",79 days,52.360576,4.915968
30,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/16/2017,7.7,Hotel Arena,Ireland,Little bit on the pricey side,7,1403,The staff were so friendly and helpful plus t...,28,5,9.2,"[' Leisure trip ', ' Couple ', ' Duplex Double...",79 days,52.360576,4.915968
31,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/11/2017,7.7,Hotel Arena,United Kingdom,Extensive restorations works going on We had ...,61,1403,Friendly staff The bar restaurant area is lov...,16,14,7.1,"[' Leisure trip ', ' Group ', ' 2 rooms ', ' S...",84 days,52.360576,4.915968
32,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/11/2017,7.7,Hotel Arena,United States of America,Our bathroom had an urine order Shower was ve...,68,1403,No Positive,0,1,4.2,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",84 days,52.360576,4.915968
33,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/9/2017,7.7,Hotel Arena,Netherlands,Please see above,4,1403,The hotel is going through renovations and un...,40,1,6.7,"[' Leisure trip ', ' Family with young childre...",86 days,52.360576,4.915968
34,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,5/2/2017,7.7,Hotel Arena,United States of America,The rooms were cold Although nice the room de...,26,1403,The room was very big spacious The bath tub w...,32,6,7.9,"[' Leisure trip ', ' Family with young childre...",93 days,52.360576,4.915968
35,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/27/2017,7.7,Hotel Arena,Israel,Construction on site but not mentioned on boo...,23,1403,Very nice hotel manager he upgraded us becaus...,52,2,8.3,"[' Leisure trip ', ' Couple ', ' Large King Ro...",98 days,52.360576,4.915968
36,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/26/2017,7.7,Hotel Arena,Ireland,not cleaned well lady pushing to pay during m...,18,1403,the building meeting rooms modern style of my...,11,5,7.1,"[' Business trip ', ' Group ', ' Duplex Double...",99 days,52.360576,4.915968
37,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/20/2017,7.7,Hotel Arena,Russia,The glass wall separating the bathroom and th...,29,1403,Very nice hotel located in a park Ca 30 minut...,56,85,8.8,"[' Leisure trip ', ' Couple ', ' Duplex Double...",105 day,52.360576,4.915968
38,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/20/2017,7.7,Hotel Arena,United Kingdom,the only thing that would of been better is i...,93,1403,The location was amazing the room was fantast...,186,2,8.8,"[' Leisure trip ', ' Couple ', ' Duplex Double...",105 day,52.360576,4.915968
39,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,4/19/2017,7.7,Hotel Arena,Canada,Staff a few were friendly and willing enough ...,122,1403,Location on the park with easy access to tram...,15,1,6.3,"[' Leisure trip ', ' Couple ', ' Duplex Twin R...",106 day,52.360576,4.915968

In [5]:
df.describe()

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
count,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,512470.000000,512470.000000
mean,498.081836,8.397487,18.539450,2743.743944,17.776458,7.166001,8.395077,49.442439,2.823803
std,500.538467,0.548048,29.690831,2317.464868,21.804185,11.040228,1.637856,3.466325,4.579425
min,1.000000,5.200000,0.000000,43.000000,0.000000,1.000000,2.500000,41.328376,-0.369758
25%,169.000000,8.100000,2.000000,1161.000000,5.000000,1.000000,7.500000,48.214662,-0.143372
50%,341.000000,8.400000,9.000000,2134.000000,11.000000,3.000000,8.800000,51.499981,0.010607
75%,660.000000,8.800000,23.000000,3613.000000,22.000000,8.000000,9.600000,51.516288,4.834443
max,2682.000000,9.800000,408.000000,16670.000000,395.000000,355.000000,10.000000,52.400181,16.429233

In [6]:
a = df['Hotel_Address']

In [7]:
b= df['Tags']

In [120]:
o=df['days_since_review']

In [8]:
if 'Leisure' in b[11]:
    print('True')
else:
    print('False')

False

In [9]:
aa= []
for e in a:
    if 'Amsterdam' in e:
        aa.append('Amsterdam')
    elif 'Paris' in e:
        aa.append('Paris')
    elif 'Barcelona' in e:
        aa.append('Barcelona')
    elif 'Milan' in e:
        aa.append('Milan')
    elif 'Vienna' in e:
        aa.append('Vienna')
    elif 'London' in e:
        aa.append('London')
    else:
        aa.append('False')

In [10]:
bb= []
for counter, value in enumerate(b):
    if 'Leisure' in b[counter]:
        bb.append('Leisure')
    elif 'Business' in b[counter]:
        bb.append('Business')
    else:
        bb.append('False')

In [11]:
cc= []
for counter, value in enumerate(b):
    if 'Solo' in b[counter]:
        cc.append('Solo')
    elif 'Family' in b[counter]:
        cc.append('Familiy')
    elif 'Couple' in b[counter]:
        cc.append('Couple')
    elif 'Group' in b[counter]:
        cc.append('Group')
    else:
        cc.append('False')

In [137]:
oo=[]
import re
for counter, value in enumerate(o):
    oo.append(re.findall(r'\d+', o[counter]))

In [145]:
qq=[]
for e in oo:
    qq.append(int(e[0]))

730

In [12]:
ee= []
for counter, value in enumerate(b):
    if '1' in b[counter]:
        ee.append('1')
    elif '2' in b[counter]:
        ee.append('2')
    elif '3' in b[counter]:
        ee.append('3')
    elif '4' in b[counter]:
        ee.append('4')
    elif '5' in b[counter]:
        ee.append('5')
    elif '6' in b[counter]:
        ee.append('6')
    elif '7' in b[counter]:
        ee.append('7')
    elif '8' in b[counter]:
        ee.append('8')
    elif '9' in b[counter]:
        ee.append('9')
    else:
        ee.append('+15')

In [13]:
ff= []
for counter, value in enumerate(b):
    if '1' in b[counter]:
        ff.append(1)
    elif '2' in b[counter]:
        ff.append(2)
    elif '3' in b[counter]:
        ff.append(3)
    elif '4' in b[counter]:
        ff.append(4)
    elif '5' in b[counter]:
        ff.append(5)
    elif '6' in b[counter]:
        ff.append(6)
    elif '7' in b[counter]:
        ff.append(7)
    elif '8' in b[counter]:
        ff.append(8)
    elif '9' in b[counter]:
        ff.append(9)
    else:
        ff.append(0)

# EDA Location

In [149]:
df['Hotel_location'] = aa
df['Travel_Reason'] = bb
df['Travel_accompaniment'] = cc
df['Stay_Duration'] = ee
df['Stay_Duration_wo_outlier'] =ff
df['Past_Days_Review'] =qq

In [150]:
df.head(20)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,Tags,days_since_review,lat,lng,Hotel_location,Travel_Reason,Travel_accompaniment,Stay_Duration,Stay_Duration_wo_outlier,Past_Days_Review
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Leisure,Couple,6,6,0
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Leisure,Couple,4,4,0
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,...,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Leisure,Familiy,3,3,3
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Leisure,Solo,3,3,3
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Leisure,Couple,2,2,10
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,...,"[' Leisure trip ', ' Group ', ' Duplex Double ...",10 days,52.360576,4.915968,Amsterdam,Leisure,Group,1,1,10
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,...,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.360576,4.915968,Amsterdam,Leisure,Group,5,5,17
7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",17 days,52.360576,4.915968,Amsterdam,Leisure,Couple,2,2,17
8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/9/2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",25 days,52.360576,4.915968,Amsterdam,Leisure,Couple,1,1,25
9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/8/2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,...,"[' Leisure trip ', ' Couple ', ' Large King Ro...",26 days,52.360576,4.915968,Amsterdam,Leisure,Couple,7,7,26
10,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/7/2017,7.7,Hotel Arena,United Kingdom,Nothing all great,5,1403,Rooms were stunningly decorated and really sp...,...,"[' Leisure trip ', ' Group ', ' Duplex Double ...",27 days,52.360576,4.915968,Amsterdam,Leisure,Group,2,2,27
11,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/6/2017,7.7,Hotel Arena,France,6 30 AM started big noise workers loading woo...,75,1403,Style location rooms,...,"[' Business trip ', ' Solo traveler ', ' Duple...",28 days,52.360576,4.915968,Amsterdam,Business,Solo,1,1,28
12,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/6/2017,7.7,Hotel Arena,United Kingdom,The floor in my room was filfy dirty Very bas...,28,1403,Comfy bed good location,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",28 days,52.360576,4.915968,Amsterdam,Leisure,Solo,2,2,28
13,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/4/2017,7.7,Hotel Arena,Italy,No Negative,0,1403,This hotel is being renovated with great care...,...,"[' Business trip ', ' Solo traveler ', ' Duple...",30 days,52.360576,4.915968,Amsterdam,Business,Solo,1,1,30
14,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/4/2017,7.7,Hotel Arena,Canada,The staff in the restaurant could of been mor...,35,1403,It was very good very historic building that ...,...,"[' Leisure trip ', ' Family with young childre...",30 days,52.360576,4.915968,Amsterdam,Leisure,Familiy,5,5,30
15,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/3/2017,7.7,Hotel Arena,Italy,No Negative,0,1403,This hotel is awesome I took it sincirely bec...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",31 days,52.360576,4.915968,Amsterdam,Leisure,Couple,1,1,31
16,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/3/2017,7.7,Hotel Arena,United Kingdom,Very steep steps in room up to the bed not sa...,38,1403,Great onsite cafe Amazing building Park locat...,...,"[' Leisure trip ', ' Family with young childre...",31 days,52.360576,4.915968,Amsterdam,Leisure,Familiy,2,2,31
17,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/30/2017,7.7,Hotel Arena,Ireland,We did not like the fact that breakfast was n...,59,1403,We loved the location of this hotel The fact ...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",34 days,52.360576,4.915968,Amsterdam,Leisure,Couple,3,3,34
18,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/29/2017,7.7,Hotel Arena,Netherlands,No Negative,0,1403,Public areas are lovely and the room was nice...,...,"[' Business trip ', ' Group ', ' Duplex Double...",35 days,52.360576,4.915968,Amsterdam,Business,Group,2,2,35
19,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,6/20/2017,7.7,Hotel Arena,Australia,We had issues with our electronic key everyda...,73,1403,I liked the hotels history And for such an en...,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",44 days,52.360576,4.915968,Amsterdam,Leisure,Couple,4,4,44

In [16]:

reviews_amsterdam = len(df[(df['Hotel_location'] == 'Amsterdam')])
reviews_barca=len(df[(df['Hotel_location'] == 'Barcelona')])
reviews_milan = (len(df[(df['Hotel_location'] == 'Milan')]))
reviews_paris = len(df[(df['Hotel_location'] == 'Paris')])
reviews_london = len(df[(df['Hotel_location'] == 'London')])
reviews_vienna = len(df[(df['Hotel_location'] == 'Vienna')])

In [ ]:
df.head()

### Number of Reviews per Destination

In [17]:
print('NUMBER OF REVIEWS PER CITY')
print('Amsterdam: ' + str(reviews_amsterdam))
print('Barcelona: ' + str(reviews_barca))
print('Milan: ' +  str(reviews_milan))
print('Paris: ' +  str(reviews_paris))
print('London: ' +  str(reviews_london))
print('Vienna: ' + str(reviews_vienna))

NUMBER OF REVIEWS PER CITY
Amsterdam: 57436
Barcelona: 60149
Milan: 37207
Paris: 59706
London: 262301
Vienna: 38939

In [18]:
c = df['Hotel_Address'].unique()

In [19]:
dd= []
for e in c:
    if 'Amsterdam' in e:
        dd.append('Amsterdam')
    elif 'Paris' in e:
        dd.append('Paris')
    elif 'Barcelona' in e:
        dd.append('Barcelona')
    elif 'Milan' in e:
        dd.append('Milan')
    elif 'Vienna' in e:
        dd.append('Vienna')
    elif 'London' in e:
        dd.append('London')
    else:
        dd.append('False')

### Number of Hotels per Destination

In [20]:
hotels_amsterdam = (dd.count('Amsterdam'))
hotels_barca = (dd.count('Barcelona'))
hotels_milan = (dd.count('Milan'))
hotels_paris = (dd.count('Paris'))
hotels_london = (dd.count('London'))
hotels_vienna = (dd.count('Vienna'))

In [21]:
print('NUMBER OF HOTELS PER CITY')
print('Amsterdam: ' + str(dd.count('Amsterdam')))
print('Barcelona: ' + str(dd.count('Barcelona')))
print('Milan: ' + str(dd.count('Milan')))
print('Paris: ' + str(dd.count('Paris')))
print('London: ' + str(dd.count('London')))
print('Vienna: ' + str(dd.count('Vienna')))

NUMBER OF HOTELS PER CITY
Amsterdam: 107
Barcelona: 211
Milan: 162
Paris: 456
London: 399
Vienna: 158

### Number of Reviews from Leisure Tourist per Destination

In [22]:
leisure_amsterdam =len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_Reason']=='Leisure')])
leisure_barca= len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_Reason']=='Leisure')])
leisure_milan= len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_Reason']=='Leisure')])
leisure_paris = len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_Reason']=='Leisure')])
leisure_london = len(df[(df['Hotel_location'] == 'London')& (df['Travel_Reason']=='Leisure')])
leisure_vienna = len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_Reason']=='Leisure')])

In [23]:
print('NUMBER OF LEISURE TRAVELER PER CITY')
print('Amsterdam: ' + str(len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_Reason']=='Leisure')])))
print('Barcelona: ' + str(len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_Reason']=='Leisure')])))
print('Milan: ' + str(len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_Reason']=='Leisure')])))
print('Paris: ' + str(len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_Reason']=='Leisure')])))
print('London: ' + str(len(df[(df['Hotel_location'] == 'London')& (df['Travel_Reason']=='Leisure')])))
print('Vienna: ' + str(len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_Reason']=='Leisure')])))

NUMBER OF LEISURE TRAVELER PER CITY
Amsterdam: 48853
Barcelona: 52719
Milan: 29052
Paris: 48688
London: 207284
Vienna: 31194

In [34]:
print('NUMBER OF LEISURE TRAVELER PER CITY')
print('Amsterdam: ' + str(len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_Reason']=='Leisure')])))
print('Barcelona: ' + str(len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_Reason']=='Leisure')])))
print('Milan: ' + str(len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_Reason']=='Leisure')])))
print('Paris: ' + str(len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_Reason']=='Leisure')])))
print('London: ' + str(len(df[(df['Hotel_location'] == 'London')& (df['Travel_Reason']=='Leisure')])))
print('Vienna: ' + str(len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_Reason']=='Leisure')])))

NUMBER OF LEISURE TRAVELER PER CITY
Amsterdam: 48853
Barcelona: 52719
Milan: 29052
Paris: 48688
London: 207284
Vienna: 31194

### Percentage of Business Reviews per Destination

In [35]:
leisure_amsterdam =len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_Reason']=='Leisure')])
leisure_barca= len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_Reason']=='Leisure')])
leisure_milan= len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_Reason']=='Leisure')])
leisure_paris = len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_Reason']=='Leisure')])
leisure_london = len(df[(df['Hotel_location'] == 'London')& (df['Travel_Reason']=='Leisure')])
leisure_vienna = len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_Reason']=='Leisure')])

In [36]:
leisure_amsterdam

48853

In [37]:
print('PECENTAGE OF LEISURE TRAVELER PER CITY')
print('Amsterdam: ' + str(round((leisure_amsterdam/reviews_amsterdam)*100,2)) + '%')
print('Barcelona: ' + str(round((leisure_barca/reviews_barca)*100,2)) + '%')
print('Milan: ' + str(round((leisure_milan/reviews_milan)*100,2)) + '%')
print('Paris: ' + str(round((leisure_paris/reviews_paris)*100,2)) + '%')
print('London: ' + str(round((leisure_london/reviews_london)*100,2)) + '%')
print('Vienna: ' + str(round((leisure_vienna/reviews_vienna)*100,2)) + '%')

PECENTAGE OF LEISURE TRAVELER PER CITY
Amsterdam: 85.06%
Barcelona: 87.65%
Milan: 78.08%
Paris: 81.55%
London: 79.03%
Vienna: 80.11%

### Reviews per Hotel per Destination

In [38]:
print('REVIEWS PER HOTEL/ DEGREE OF COMPETITION/ DEMAND')
print('Amsterdam: ' + str(round((reviews_amsterdam/hotels_amsterdam),2)))
print('Barcelona: ' + str(round((reviews_barca/hotels_barca),2)))
print('Milan: ' + str(round((reviews_milan/hotels_milan),2)) )
print('Paris: ' + str(round((reviews_paris/hotels_paris),2)))
print('London: ' + str(round((reviews_london/hotels_london),2)))
print('Vienna: ' + str(round((reviews_vienna/hotels_vienna),2)))

REVIEWS PER HOTEL/ DEGREE OF COMPETITION/ DEMAND
Amsterdam: 536.79
Barcelona: 285.07
Milan: 229.67
Paris: 130.93
London: 657.4
Vienna: 246.45

In [40]:
df_amsterdam = (df[(df['Hotel_location'] == 'Amsterdam')])
df_barca = (df[(df['Hotel_location'] == 'Barcelona')])
df_milan = (df[(df['Hotel_location'] == 'Milan')])
df_paris = (df[(df['Hotel_location'] == 'Paris')])
df_london = (df[(df['Hotel_location'] == 'London')])
df_vienna = (df[(df['Hotel_location'] == 'Vienna')])

In [41]:
amsterdam_avg_score= df_amsterdam['Reviewer_Score'].mean()
barca_avg_score= df_barca['Reviewer_Score'].mean()
paris_avg_score= df_paris['Reviewer_Score'].mean()
milan_avg_score= df_milan['Reviewer_Score'].mean()
london_avg_score= df_london['Reviewer_Score'].mean()
vienna_avg_score= df_vienna['Reviewer_Score'].mean()

### Average Score per Destination

In [42]:
print('AVERAGE SCORE PER CITY')
print('Amsterdam: ' + str(amsterdam_avg_score))
print('Barcelona: ' + str(barca_avg_score))
print('Milan: ' + str(milan_avg_score))
print('Paris: ' + str(paris_avg_score))
print('London: ' + str(london_avg_score))
print('Vienna: ' + str(vienna_avg_score))

AVERAGE SCORE PER CITY
Amsterdam: 8.456008426769102
Barcelona: 8.554092337360583
Milan: 8.346722390947388
Paris: 8.420237497067301
London: 8.324138299135987
Vienna: 8.545047381801634

### Total Number of Negtive Words per Destination

In [43]:
negative_words_amsterdam= df_amsterdam['Review_Total_Negative_Word_Counts'].sum()
negative_words_barca= df_barca['Review_Total_Negative_Word_Counts'].sum()
negative_words_milan= df_milan['Review_Total_Negative_Word_Counts'].sum()
negative_words_paris= df_paris['Review_Total_Negative_Word_Counts'].sum()
negative_words_london= df_london['Review_Total_Negative_Word_Counts'].sum()
negative_words_vienna= df_vienna['Review_Total_Negative_Word_Counts'].sum()

In [44]:
print('NEGATIVE WORD COUNT PER DESTINATION')
print(negative_words_amsterdam)
print(negative_words_barca)
print(negative_words_milan)
print(negative_words_paris)
print(negative_words_london)
print(negative_words_vienna)

NEGATIVE WORD COUNT PER DESTINATION
1116893
1089722
650853
998131
5041607
664293

### Total Number of Positive Words per Destination

In [45]:
Positive_words_amsterdam= df_amsterdam['Review_Total_Positive_Word_Counts'].sum()
Positive_words_barca= df_barca['Review_Total_Positive_Word_Counts'].sum()
Positive_words_milan= df_milan['Review_Total_Positive_Word_Counts'].sum()
Positive_words_paris= df_paris['Review_Total_Positive_Word_Counts'].sum()
Positive_words_london= df_london['Review_Total_Positive_Word_Counts'].sum()
Positive_words_vienna= df_vienna['Review_Total_Positive_Word_Counts'].sum()

In [46]:
print('POSITIVE WORD COUNT PER DESTINATION')
print(Positive_words_amsterdam)
print(Positive_words_barca)
print(Positive_words_milan)
print(Positive_words_paris)
print(Positive_words_london)
print(Positive_words_vienna)

POSITIVE WORD COUNT PER DESTINATION
1126477
1180852
677569
1127976
4317032
738089

### Percentage of Positive Words per Destination

In [50]:
print('POSITIVE WORD REVIEW RATION PER DESTINATION')
print(round((Positive_words_amsterdam/(Positive_words_amsterdam+negative_words_amsterdam))*100,2))
print(round((Positive_words_barca/(Positive_words_barca+negative_words_barca))*100,2))
print(round((Positive_words_milan/(Positive_words_milan+negative_words_milan))*100,2))
print(round((Positive_words_paris/(Positive_words_paris+negative_words_paris))*100,2))
print(round((Positive_words_london/(Positive_words_london+negative_words_london))*100,2))
print(round((Positive_words_vienna/(Positive_words_vienna+negative_words_vienna))*100,2))

POSITIVE WORD REVIEW RATION PER DESTINATION
50.21
52.01
51.01
53.05
46.13
52.63

In [52]:
print('NEGATIVE WORD RATIO PER DESTINATION')
print(round((negative_words_amsterdam/(Positive_words_amsterdam+negative_words_amsterdam))*100,2))
print(round((negative_words_barca/(Positive_words_barca+negative_words_barca))*100,2))
print(round((negative_words_milan/(Positive_words_milan+negative_words_milan))*100,2))
print(round((negative_words_paris/(Positive_words_paris+negative_words_paris))*100,2))
print(round((negative_words_london/(Positive_words_london+negative_words_london))*100,2))
print(round((negative_words_vienna/(Positive_words_vienna+negative_words_vienna))*100,2))

NEGATIVE WORD REVIEW RATION PER DESTINATION
49.79
47.99
48.99
46.95
53.87
47.37

### Percentage of Solo Traveler per Destination

In [113]:
solo_amsterdam =len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_accompaniment']=='Solo')])
solo_barca= len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_accompaniment']=='Solo')])
solo_milan= len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_accompaniment']=='Solo')])
solo_paris = len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_accompaniment']=='Solo')])
solo_london = len(df[(df['Hotel_location'] == 'London')& (df['Travel_accompaniment']=='Solo')])
solo_vienna = len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_accompaniment']=='Solo')])

In [114]:
print('PERCENTAGE OF SOLO TRAVELER PER DESTINATION')
print('Amsterdam: ' + str(round(((solo_amsterdam/reviews_amsterdam)*100),2)))
print('Barcelona: ' + str(round(((solo_barca/reviews_barca)*100),2)))
print('Milan: ' + str(round(((solo_milan/reviews_milan)*100),2)) )
print('Paris: ' + str(round(((solo_paris/reviews_paris)*100),2)))
print('London: ' + str(round(((solo_london/reviews_london)*100),2)))
print('Vienna: ' + str(round(((solo_vienna/reviews_vienna)*100),2)))

PERCENTAGE OF SOLO TRAVELER PER DESTINATION
Amsterdam: 17.85
Barcelona: 15.82
Milan: 21.91
Paris: 21.13
London: 22.78
Vienna: 21.23

### Percentage of Couple Travelers per Destionation

In [115]:
Couple_amsterdam =len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_accompaniment']=='Couple')])
Couple_barca= len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_accompaniment']=='Couple')])
Couple_milan= len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_accompaniment']=='Couple')])
Couple_paris = len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_accompaniment']=='Couple')])
Couple_london = len(df[(df['Hotel_location'] == 'London')& (df['Travel_accompaniment']=='Couple')])
Couple_vienna = len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_accompaniment']=='Couple')])

In [116]:
print('PERCENTAGE OF Couple TRAVELER PER DESTINATION')
print('Amsterdam: ' + str(round(((Couple_amsterdam/reviews_amsterdam)*100),2)))
print('Barcelona: ' + str(round(((Couple_barca/reviews_barca)*100),2)))
print('Milan: ' + str(round(((Couple_milan/reviews_milan)*100),2)) )
print('Paris: ' + str(round(((Couple_paris/reviews_paris)*100),2)))
print('London: ' + str(round(((Couple_london/reviews_london)*100),2)))
print('Vienna: ' + str(round(((Couple_vienna/reviews_vienna)*100),2)))

PERCENTAGE OF Couple TRAVELER PER DESTINATION
Amsterdam: 51.18
Barcelona: 49.19
Milan: 43.46
Paris: 46.27
London: 49.83
Vienna: 46.6

### Percentage of Family Travelers per Destionation

In [53]:
Familiy_amsterdam =len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_accompaniment']=='Familiy')])
Familiy_barca= len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_accompaniment']=='Familiy')])
Familiy_milan= len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_accompaniment']=='Familiy')])
Familiy_paris = len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_accompaniment']=='Familiy')])
Familiy_london = len(df[(df['Hotel_location'] == 'London')& (df['Travel_accompaniment']=='Familiy')])
Familiy_vienna = len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_accompaniment']=='Familiy')])

In [54]:
print('PERCENTAGE OF Familiy TRAVELER PER DESTINATION')
print('Amsterdam: ' + str(round(((Familiy_amsterdam/reviews_amsterdam)*100),2)))
print('Barcelona: ' + str(round(((Familiy_barca/reviews_barca)*100),2)))
print('Milan: ' + str(round(((Familiy_milan/reviews_milan)*100),2)) )
print('Paris: ' + str(round(((Familiy_paris/reviews_paris)*100),2)))
print('London: ' + str(round(((Familiy_london/reviews_london)*100),2)))
print('Vienna: ' + str(round(((Familiy_vienna/reviews_vienna)*100),2)))

PERCENTAGE OF Familiy TRAVELER PER DESTINATION
Amsterdam: 12.67
Barcelona: 20.17
Milan: 20.21
Paris: 21.38
London: 15.96
Vienna: 19.36

### Percentage of Group Travelers per Destionation

In [119]:
Group_amsterdam =len(df[(df['Hotel_location'] == 'Amsterdam') & (df['Travel_accompaniment']=='Group')])
Group_barca= len(df[(df['Hotel_location'] == 'Barcelona')& (df['Travel_accompaniment']=='Group')])
Group_milan= len(df[(df['Hotel_location'] == 'Milan')& (df['Travel_accompaniment']=='Group')])
Group_paris = len(df[(df['Hotel_location'] == 'Paris')& (df['Travel_accompaniment']=='Group')])
Group_london = len(df[(df['Hotel_location'] == 'London')& (df['Travel_accompaniment']=='Group')])
Group_vienna = len(df[(df['Hotel_location'] == 'Vienna')& (df['Travel_accompaniment']=='Group')])

In [120]:
print('PERCENTAGE OF Group TRAVELER PER DESTINATION')
print('Amsterdam: ' + str(round(((Group_amsterdam/reviews_amsterdam)*100),2)))
print('Barcelona: ' + str(round(((Group_barca/reviews_barca)*100),2)))
print('Milan: ' + str(round(((Group_milan/reviews_milan)*100),2)) )
print('Paris: ' + str(round(((Group_paris/reviews_paris)*100),2)))
print('London: ' + str(round(((Group_london/reviews_london)*100),2)))
print('Vienna: ' + str(round(((Group_vienna/reviews_vienna)*100),2)))

PERCENTAGE OF Group TRAVELER PER DESTINATION
Amsterdam: 17.64
Barcelona: 14.31
Milan: 13.79
Paris: 10.77
London: 11.15
Vienna: 12.3

### Average Stay Pre-Analysis

In [121]:
df_amsterdam['Stay_Duration'].value_counts()

2      18522
3      16009
1      12066
4       6773
5       2336
6        882
7        556
8        167
9         99
+15       26
Name: Stay_Duration, dtype: int64

In [122]:
df_barca['Stay_Duration'].value_counts()

1      15995
3      14987
2      12594
4       9038
5       3855
6       1640
7       1508
8        346
9        172
+15       14
Name: Stay_Duration, dtype: int64

In [123]:
df_paris['Stay_Duration'].value_counts()

2      17541
1      16736
3      13161
4       6610
5       3001
6       1363
7        890
8        266
9        108
+15       30
Name: Stay_Duration, dtype: int64

In [124]:
df_london['Stay_Duration'].value_counts()

1      136583
2       66923
3       29640
4       13673
5        6765
6        3818
7        2840
8        1275
9         690
+15        94
Name: Stay_Duration, dtype: int64

In [125]:
df_vienna['Stay_Duration'].value_counts()

2      10841
1       9700
3       9147
4       5283
5       2134
6        919
7        658
8        166
9         81
+15       10
Name: Stay_Duration, dtype: int64

### Average Stay per Destination

In [126]:
avg_duration_amsterdam = df_amsterdam['Stay_Duration_wo_outlier'].mean()
avg_duration_barca = df_barca['Stay_Duration_wo_outlier'].mean()
avg_duration_milan = df_milan['Stay_Duration_wo_outlier'].mean()
avg_duration_london = df_london['Stay_Duration_wo_outlier'].mean()
avg_duration_vienna = df_vienna['Stay_Duration_wo_outlier'].mean()
avg_duration_paris = df_paris['Stay_Duration_wo_outlier'].mean()

In [127]:
print('AVERAGE DURATION OF STAY PER DESTINATION')
print('Amsterdam: ' + str(avg_duration_amsterdam))
print('Barcelona: ' + str(avg_duration_barca))
print('Milan: ' + str(avg_duration_milan))
print('Paris: ' + str(avg_duration_paris))
print('London: ' + str(avg_duration_london))
print('Vienna: ' + str(avg_duration_vienna))

AVERAGE DURATION OF STAY PER DESTINATION
Amsterdam: 2.564941848318128
Barcelona: 2.764518113351843
Milan: 2.186443411186067
Paris: 2.516564499380297
London: 1.9331378835765018
Vienna: 2.640078070828732

# EDA customer segmentation

In [56]:
h= df['Reviewer_Nationality']

In [57]:
hh= []
for e in h:
    if e not in hh:
        hh.append(e)
    else:
        continue

In [58]:
reviews_per_country = {}
for i in hh:
        reviews_per_country[i] = 0

In [59]:
for e in h:
    for key, value in reviews_per_country.items():
        if e in key:
            reviews_per_country[key] = value+1
            continue

In [60]:
sorted(reviews_per_country, key=reviews_per_country.get, reverse=True)

[' United Kingdom ',
 ' United States of America ',
 ' Australia ',
 ' Ireland ',
 ' United Arab Emirates ',
 ' Saudi Arabia ',
 ' Netherlands ',
 ' Switzerland ',
 ' Germany ',
 ' Canada ',
 ' France ',
 ' Israel ',
 ' Italy ',
 ' Belgium ',
 ' Turkey ',
 ' Kuwait ',
 ' Spain ',
 ' Romania ',
 ' Russia ',
 ' South Africa ',
 ' India ',
 ' Greece ',
 ' China ',
 ' Sweden ',
 ' New Zealand ',
 ' Singapore ',
 ' Hong Kong ',
 ' Poland ',
 ' Qatar ',
 ' Austria ',
 ' Egypt ',
 ' Norway ',
 ' Czech Republic ',
 ' Lebanon ',
 ' Hungary ',
 ' Malaysia ',
 ' Thailand ',
 ' Brazil ',
 ' Portugal ',
 ' Finland ',
 ' Denmark ',
 ' Malta ',
 ' Bahrain ',
 ' Indonesia ',
 ' Cyprus ',
 ' Luxembourg ',
 ' Croatia ',
 ' Oman ',
 ' Bulgaria ',
 ' Japan ',
 ' Serbia ',
 ' Ukraine ',
 ' Iran ',
 ' South Korea ',
 ' Philippines ',
 ' Nigeria ',
 ' Iceland ',
 ' Taiwan ',
 ' Pakistan ',
 ' Slovakia ',
 ' Jersey ',
 ' Slovenia ',
 ' Jordan ',
 ' Estonia ',
 ' Lithuania ',
 ' Latvia ',
 ' Mexico ',
 ' Guernsey ',
 ' Argentina ',
 ' Abkhazia Georgia ',
 ' Isle of Man ',
 ' Gibraltar ',
 ' Chile ',
 ' Georgia ',
 ' Iraq ',
 ' Albania ',
 ' Sri Lanka ',
 ' Macedonia ',
 ' Kazakhstan ',
 ' Azerbaijan ',
 ' Colombia ',
 ' Kenya ',
 ' Monaco ',
 ' Bosnia and Herzegovina ',
 ' Morocco ',
 ' Mauritius ',
 ' Belarus ',
 ' Montenegro ',
 ' Vietnam ',
 ' Puerto Rico ',
 ' Trinidad and Tobago ',
 ' Bangladesh ',
 ' Ghana ',
 ' Armenia ',
 ' Panama ',
 ' Costa Rica ',
 ' Peru ',
 ' Macau ',
 ' Moldova ',
 ' Bermuda ',
 ' Brunei ',
 ' Algeria ',
 ' Uruguay ',
 ' Venezuela ',
 ' Tunisia ',
 ' United States Minor Outlying Islands ',
 ' Kosovo ',
 ' Libya ',
 ' Namibia ',
 ' Andorra ',
 ' Angola ',
 ' Barbados ',
 ' Ecuador ',
 ' Tanzania ',
 ' Palestinian Territory ',
 ' Guatemala ',
 ' South Sudan ',
 ' Dominican Republic ',
 ' Sudan ',
 ' Zimbabwe ',
 ' Maldives ',
 ' Uganda ',
 ' Botswana ',
 ' Cayman Islands ',
 ' Jamaica ',
 ' Cura ao ',
 ' Mongolia ',
 ' Zambia ',
 ' Mozambique ',
 ' Cambodia ',
 ' Syria ',
 ' Bahamas ',
 ' Ethiopia ',
 ' Aruba ',
 ' Paraguay ',
 ' Senegal ',
 ' El Salvador ',
 ' Honduras ',
 ' Seychelles ',
 ' Kyrgyzstan ',
 ' Liechtenstein ',
 ' Uzbekistan ',
 ' Ivory Coast ',
 ' Myanmar ',
 ' Bolivia ',
 ' U S Virgin Islands ',
 ' Yemen ',
 ' British Virgin Islands ',
 ' Faroe Islands ',
 ' Tajikistan ',
 ' Nicaragua ',
 ' Nepal ',
 ' Papua New Guinea ',
 ' Turks Caicos Islands ',
 ' Antigua Barbuda ',
 ' Guam ',
 ' Rwanda ',
 ' Fiji ',
 ' Democratic Republic of the Congo ',
 ' St Maarten ',
 ' Suriname ',
 ' Dominica ',
 ' Malawi ',
 ' New Caledonia ',
 ' Saint Kitts and Nevis ',
 ' Laos ',
 ' Cameroon ',
 ' Madagascar ',
 ' Vanuatu ',
 ' Belize ',
 ' Mauritania ',
 ' Saint Lucia ',
 ' Swaziland ',
 ' Afghanistan ',
 ' Togo ',
 ' Gabon ',
 ' Crimea ',
 ' Sierra Leone ',
 ' Benin ',
 ' Bhutan ',
 ' Reunion ',
 ' Haiti ',
 ' Falkland Islands Malvinas ',
 ' American Samoa ',
 ' Guyana ',
 ' Martinique ',
 ' Gambia ',
 ' Guadeloupe ',
 ' Mali ',
 ' Turkmenistan ',
 ' East Timor ',
 ' Saint Martin ',
 ' French Guiana ',
 ' Samoa ',
 ' Equatorial Guinea ',
 ' Burundi ',
 ' Antarctica ',
 ' Central Africa Republic ',
 ' Liberia ',
 ' Lesotho ',
 ' French Polynesia ',
 ' Grenada ',
 ' Saint Barts ',
 ' Congo ',
 ' Somalia ',
 ' San Marino ',
 ' Bonaire St Eustatius and Saba ',
 ' Montserrat ',
 ' St Pierre and Miquelon ',
 ' Niger ',
 ' Wallis and Futuna ',
 ' Djibouti ',
 ' Kiribati ',
 ' Cook Islands ',
 ' Eritrea ',
 ' Saint Vincent Grenadines ',
 ' Cocos K I ',
 ' Comoros ',
 ' Svalbard Jan Mayen ',
 ' Vatican City ',
 ' Anguilla ',
 ' Cape Verde ',
 ' Northern Mariana Islands ',
 ' Tuvalu ',
 ' Guinea ',
 ' Palau ',
 ' ']

In [61]:
#top 5 reviewing nations => nations with over 10'000 reviews

In [62]:
reviews_per_country[' United Kingdom ']

245769

In [63]:
reviews_per_country[' United States of America ']

35960

In [64]:
reviews_per_country[' Australia ']

22209

In [65]:
reviews_per_country[' Ireland ']

15350

In [66]:
reviews_per_country[' United Arab Emirates ']

10758

In [67]:
reviews_per_country[' Saudi Arabia ']

9474

### Number of reviews per nationality (top 6)

In [68]:
df_r_uk = (df[(df['Reviewer_Nationality'] == ' United Kingdom ')])
df_r_usa = (df[(df['Reviewer_Nationality'] == ' United States of America ')])
df_r_aus = (df[(df['Reviewer_Nationality'] == ' Australia ')])
df_r_ir = (df[(df['Reviewer_Nationality'] == ' Ireland ')])
df_r_uae = (df[(df['Reviewer_Nationality'] == ' United Arab Emirates ')])
df_r_sa = (df[(df['Reviewer_Nationality'] == ' Saudi Arabia ')])

In [69]:
r_uk = len(df[(df['Reviewer_Nationality'] == ' United Kingdom ')])
r_usa = len(df[(df['Reviewer_Nationality'] == ' United States of America ')])
r_aus = len(df[(df['Reviewer_Nationality'] == ' Australia ')])
r_ir = len(df[(df['Reviewer_Nationality'] == ' Ireland ')])
r_uae = len(df[(df['Reviewer_Nationality'] == ' United Arab Emirates ')])
r_sa = len(df[(df['Reviewer_Nationality'] == ' Saudi Arabia ')])

In [70]:
print('NUMBER OF REVIEWS PER NATION')
print('United Kingdom: ' + str(r_uk))
print('United States of America: ' + str(r_usa))
print('Australia: ' + str(r_aus))
print('Ireland: ' + str(r_ir))
print('United Arab Emirates: ' + str(r_uae))
print('Saudi Arabia: ' + str(r_sa))

NUMBER OF REVIEWS PER NATION
United Kingdom: 245246
United States of America: 35437
Australia: 21686
Ireland: 14827
United Arab Emirates: 10235
Saudi Arabia: 8951

### Percentage of Leisure Traveler per Nationality (Top 6)

In [71]:
lei_uk =len(df[(df['Reviewer_Nationality'] == ' United Kingdom ') & (df['Travel_Reason']=='Leisure')])
lei_usa= len(df[(df['Reviewer_Nationality'] == ' United States of America ')& (df['Travel_Reason']=='Leisure')])
lei_aus= len(df[(df['Reviewer_Nationality'] == ' Australia ')& (df['Travel_Reason']=='Leisure')])
lei_ir = len(df[(df['Reviewer_Nationality'] == ' Ireland ') & (df['Travel_Reason']=='Leisure')])
lei_uae = len(df[(df['Reviewer_Nationality'] == ' United Arab Emirates ') & (df['Travel_Reason']=='Leisure')])
lei_sa = len(df[(df['Reviewer_Nationality'] == ' Saudi Arabia ') & (df['Travel_Reason']=='Leisure')])

In [152]:
print('PERCENTAGE OF LEISURE TRAVELER PER NATION')
print('United Kingdom: ' + str((lei_uk/r_uk)*100))
print('United States of America: ' + str((lei_usa/r_usa)*100))
print('Australia: ' + str((lei_aus/r_aus)*100))
print('Ireland: ' + str((lei_ir/r_ir)*100))
print('United Arab Emirates: ' + str((lei_uae/r_uae)*100))
print('Saudi Arabia: ' + str((lei_sa/r_sa)*100))

PERCENTAGE OF LEISURE TRAVELER PER NATION
United Kingdom: 84.21340205344838
United States of America: 87.37195586533849
Australia: 91.18786313750807
Ireland: 84.34612531193095
United Arab Emirates: 80.66438690766977
Saudi Arabia: 80.98536476371355

### Average Score per Nationality (Top 6)

In [73]:
uk_avg_score= df_r_uk['Reviewer_Score'].mean()
usa_avg_score= df_r_usa['Reviewer_Score'].mean()
aus_avg_score= df_r_aus['Reviewer_Score'].mean()
ir_avg_score= df_r_ir['Reviewer_Score'].mean()
uae_avg_score= df_r_uae['Reviewer_Score'].mean()
sa_avg_score= df_r_sa['Reviewer_Score'].mean()

In [74]:
print('AVERAGE SCORE PER NATION')
print('United Kingdom: ' + str(uk_avg_score))
print('United States of America: ' + str(usa_avg_score))
print('Australia: ' + str(aus_avg_score))
print('Ireland: ' + str(ir_avg_score))
print('United Arab Emirates: ' + str(uae_avg_score))
print('Saudi Arabia: ' + str(sa_avg_score))

AVERAGE SCORE PER NATION
United Kingdom: 8.486352070988723
United States of America: 8.786999463836956
Australia: 8.591718159181339
Ireland: 8.464052067175164
United Arab Emirates: 7.8788275525160305
Saudi Arabia: 7.881767400290574

### Average Stay per Nationality (Top 6)

In [75]:
uk_avg_stay= df_r_uk['Stay_Duration_wo_outlier'].mean()
usa_avg_stay= df_r_usa['Stay_Duration_wo_outlier'].mean()
aus_avg_stay= df_r_aus['Stay_Duration_wo_outlier'].mean()
ir_avg_stay= df_r_ir['Stay_Duration_wo_outlier'].mean()
uae_avg_stay= df_r_uae['Stay_Duration_wo_outlier'].mean()
sa_avg_stay= df_r_sa['Stay_Duration_wo_outlier'].mean()

In [76]:
print('AVERAGE STAY PER NATION')
print('United Kingdom: ' + str(uk_avg_stay))
print('United States of America: ' + str(usa_avg_stay))
print('Australia: ' + str(aus_avg_stay))
print('Ireland: ' + str(ir_avg_stay))
print('United Arab Emirates: ' + str(uae_avg_stay))
print('Saudi Arabia: ' + str(sa_avg_stay))

AVERAGE STAY PER NATION
United Kingdom: 1.7950262185723722
United States of America: 2.7947060981460057
Australia: 2.7355897814258046
Ireland: 2.355972212854927
United Arab Emirates: 2.9503663898387886
Saudi Arabia: 3.1902580717238296

### Number/ Percentage of Positive and Negative words per Nationailty (Top 6)

In [77]:
negative_words_uk= df_r_uk['Review_Total_Negative_Word_Counts'].sum()
negative_words_usa= df_r_usa['Review_Total_Negative_Word_Counts'].sum()
negative_words_aus= df_r_aus['Review_Total_Negative_Word_Counts'].sum()
negative_words_ir= df_r_ir['Review_Total_Negative_Word_Counts'].sum()
negative_words_uae= df_r_uae['Review_Total_Negative_Word_Counts'].sum()
negative_words_sa= df_r_sa['Review_Total_Negative_Word_Counts'].sum()

In [78]:
Positive_words_uk= df_r_uk['Review_Total_Positive_Word_Counts'].sum()
Positive_words_usa= df_r_usa['Review_Total_Positive_Word_Counts'].sum()
Positive_words_aus= df_r_aus['Review_Total_Positive_Word_Counts'].sum()
Positive_words_ir= df_r_ir['Review_Total_Positive_Word_Counts'].sum()
Positive_words_uae= df_r_uae['Review_Total_Positive_Word_Counts'].sum()
Positive_words_sa= df_r_sa['Review_Total_Positive_Word_Counts'].sum()

In [159]:
print('NEGATIVE WORD REVIEW RATION PER DESTINATION')
print(round((negative_words_uk/(Positive_words_uk+negative_words_uk))*100,2))
print(round((negative_words_usa/(Positive_words_usa+negative_words_usa))*100,2))
print(round((negative_words_aus/(Positive_words_aus+negative_words_aus))*100,2))
print(round((negative_words_ir/(Positive_words_ir+negative_words_ir))*100,2))
print(round((negative_words_uae/(Positive_words_uae+negative_words_uae))*100,2))
print(round((negative_words_sa/(Positive_words_sa+negative_words_sa))*100,2))

NEGATIVE WORD REVIEW RATION PER DESTINATION
51.79
44.79
45.38
50.92
55.42
57.24

# details targeted nations

In [84]:
solo_uae = len(df[(df['Reviewer_Nationality'] == ' United Arab Emirates ')& (df['Travel_accompaniment']=='Solo')])
solo_sa = len(df[(df['Reviewer_Nationality'] == ' Saudi Arabia ') & (df['Travel_accompaniment']=='Solo')])

In [87]:
couple_uae = len(df[(df['Reviewer_Nationality'] == ' United Arab Emirates ')& (df['Travel_accompaniment']=='Couple')])
couple_sa = len(df[(df['Reviewer_Nationality'] == ' Saudi Arabia ') & (df['Travel_accompaniment']=='Couple')])

In [108]:
familiy_uae = len(df[(df['Reviewer_Nationality'] == ' United Arab Emirates ')& (df['Travel_accompaniment']=='Familiy')])
familiy_sa = len(df[(df['Reviewer_Nationality'] == ' Saudi Arabia ') & (df['Travel_accompaniment']=='Familiy')])

In [109]:
group_uae = len(df[(df['Reviewer_Nationality'] == ' United Arab Emirates ')& (df['Travel_accompaniment']=='Group')])
group_sa = len(df[(df['Reviewer_Nationality'] == ' Saudi Arabia ') & (df['Travel_accompaniment']=='Group')])

In [110]:
print('PERCENTAGE OF SOLO TRAVELER PER NATIONALITY')
print('UAE: ' + str(round(((solo_uae/r_uae)*100),2)))
print('Saudi Arabia: ' + str(round(((solo_sa/r_sa)*100),2)))

PERCENTAGE OF SOLO TRAVELER PER NATIONALITY
UAE: 27.14
Saudi Arabia: 26.56

In [111]:
print('PERCENTAGE OF COUPLE TRAVELER PER NATIONALITY')
print('UAE: ' + str(round(((couple_uae/r_uae)*100),2)))
print('Saudi Arabia: ' + str(round(((couple_sa/r_sa)*100),2)))

PERCENTAGE OF COUPLE TRAVELER PER NATIONALITY
UAE: 29.23
Saudi Arabia: 28.21

In [114]:
print('PERCENTAGE OF FAMILIY TRAVELER PER NATIONALITY')
print('UAE: ' + str(round(((familiy_uae/r_uae)*100),2)))
print('Saudi Arabia: ' + str(round(((familiy_sa/r_sa)*100),2)))

PERCENTAGE OF FAMILIY TRAVELER PER NATIONALITY
UAE: 29.9
Saudi Arabia: 32.24

In [115]:
print('PERCENTAGE OF GROUP TRAVELER PER NATIONALITY')
print('UAE: ' + str(round(((group_uae/r_uae)*100),2)))
print('Saudi Arabia: ' + str(round(((group_sa/r_sa)*100),2)))

PERCENTAGE OF GROUP TRAVELER PER NATIONALITY
UAE: 12.92
Saudi Arabia: 11.82